@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.interface0 {
    display: flex;
}

.interface1 {
    width: 30vw;
}

.interface2 {
    width: 70vw;
}

.interface3 {
    background: #F0F2F5 url('imagens/fundo.jpg') center center
    no-repeat fixed;
    background-size: cover;
}

iframe {
    height: 629px;
    width: 70vw;
}

abbr {
    text-decoration: none;
}

.cabecalho1 {
    background-color: #F0F2F5;
    display: flex;
    border-right: 1px solid black;
}

.cabecalho1>.perfil {
    margin: 6px 10px;
    height: 40px;
}

.pesquisa {
    background-color: #F0F2F5;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    height: 40px;
}

.pesquisa>p {
    color: #808185;
    margin-top: 12px;
}

#lupa {
    height: 15px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 11px;
    
}

nav>p {
    background-color: #F0F2F5;
    color: #808185;
    border-radius: 40px;
    padding: 4px 10px;
    margin-left: 8px;
}

nav {
    display: flex;
}

#p1 {
    background-color: #E7FCE3;
    color: #7cb172;
    margin-left: 10px;
}

#p2:hover {
    background-color: #e1e5eb;
}

#p3:hover {
    background-color: #e1e5eb;
}


/* CONVERSA */
.rolagem {
    overflow-y: auto;
    height: 479px;
}

.perfil {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
}

.conversa {
    display: flex;
    padding: 10px 0px 10px 10px;
}

.conversa>article>h1 {
    margin-top: 3px;
    margin-bottom: 5px;
}

hr {
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.conversa:hover {
    background-color: #F0F2F5;
}

/* Painel de conversa */
.cabecalho3 {
    background-color: #F0F2F5;
    display: flex;
}

.cabecalho3>.perfil {
    margin: 6px 10px;
    height: 40px;
}

.cabecalho3>p {
    margin-top: 15px;
}

#cont0 {
    position: relative;
    height: 517.4px;
    overflow-y: auto;
}

.cont1 {
    background-color: #ffffff;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.cont2 {
    background-color: #D9FDD3;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    position: absolute;

    left: 100%;
    transform: translate(-110%, -10%);
}

.cont3 {
    background-color: #ffffff;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    position: absolute;
    top: 72%;
}

.cont4 {
    background-color: #D9FDD3;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    position: absolute;

    left: 100%;
    top: 111%;
    transform: translate(-110%, -10%);
}

.cont5 {
    background-color: #ffffff;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    position: absolute;
    top: 145%;
}

.cont6 {
    background-color: #D9FDD3;
    text-align: justify;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    position: absolute;

    left: 100%;
    top: 185%;
    transform: translate(-110%, -10%);
}

footer {
    background-color: #F0F2F5;
    height: 60px;
}

footer>section {
    padding-top: 10px;

}

.digite {
    background-color: white;
    color: #808185;
    padding: 10px;
    border-radius: 8px;
    margin: 0px 20px 0px 150px;
}